@import url('https://fonts.google.com/specimen/Poppins?preview.text=Match&preview.text_type=custom');

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1em;
  text-align: center;
  background: #1b1523;
  color: #fff;
}

